@media (max-width:999px) {
  .shc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -200px;
    height: 100vh;
    width: 100px;
    background-color: azure;
    box-shadow: 0 30px 40px black;
    padding: 0 0 10px;
    transition: 0.4s;
  }

  .open {
    right: 0px;
  }



  .shc li {
    margin-bottom: 20px;
    top: 26px;
  }

  #mune {
    display: flex;
    align-items: center;

  }

  #mune i {
    color: brown;
    font-size: 30px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 0px;
    color: brown;
    font-size: 29px;
    left: 0px;
    margin-bottom: 30px;

  }

  .shop {
    display: none;
  }
}